<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/blogs/<%=@blog.id%>" method="post">
      <input type="hidden" name="_method" value="put">
      <input type="text" name="blog[title]" value="<%= @blog.title %>">
      <input type="submit" name="" value="Update">
      <textarea name="blog[body]" rows="10" cols="70"> <%=@blog.body%> </textarea>

      

  </form>
  </body>
</html>
