<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>This is the blog index</title>
  </head>
  <body>

    <h3>All Blogs</h3>
    <% @blogs.each do |blog| %>
    <div class="one_blog">
      <ul class="no_dot_list">
        <li><h4> <a href="/blogs/<%=blog.id%>"><%= blog.title %></a></h4></li>
        <li> <%= blog.body %> </li>
        <li>Created <%= time_ago_in_words(blog.created_at) %> ago.</li>
        <br>
      </ul>
    </div>
    <% end %>

  </body>
</html>
