/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 19, /Users/macpro/Desktop/phase_3/new_blog/rails_blog_kevin/app/assets/stylesheets/application.css.scss */
html {
  background: url(/assets/DSC_0011_Fotor-69f8d0bc3aaffc524ec5f1520cde71558c8d0486faa925c1e95d2fc5c7f4fe8f.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 27, /Users/macpro/Desktop/phase_3/new_blog/rails_blog_kevin/app/assets/stylesheets/application.css.scss */
.no_dot_list {
  list-style-type: none;
}

/* line 31, /Users/macpro/Desktop/phase_3/new_blog/rails_blog_kevin/app/assets/stylesheets/application.css.scss */
h3 {
  color: #d08a22;
  text-shadow: 2px 2px rgba(83, 99, 85, 0.45);
}

/* line 36, /Users/macpro/Desktop/phase_3/new_blog/rails_blog_kevin/app/assets/stylesheets/application.css.scss */
.main_blog {
  background-color: rgba(0, 0, 0, 0.2);
  /*border-style: solid;
  border-bottom-color: rgba(23, 30, 194, 0.8);*/
  width: 50%;
  height: 250px;
  position: relative;
}

/* line 45, /Users/macpro/Desktop/phase_3/new_blog/rails_blog_kevin/app/assets/stylesheets/application.css.scss */
.time_submitted {
  float: right;
  font-size: 60%;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* line 53, /Users/macpro/Desktop/phase_3/new_blog/rails_blog_kevin/app/assets/stylesheets/application.css.scss */
.blog_title {
  font-size: 120%;
  font-weight: bold;
}

/* line 57, /Users/macpro/Desktop/phase_3/new_blog/rails_blog_kevin/app/assets/stylesheets/application.css.scss */
.blog_body {
  /*margin-left: 0;*/
  /*width: 75%;*/
  background-color: rgba(79, 176, 224, 0.35);
  height: 50px;
  font-size: 80%;
}

/* line 65, /Users/macpro/Desktop/phase_3/new_blog/rails_blog_kevin/app/assets/stylesheets/application.css.scss */
.blog_full {
  float: left;
  width: 75%;
  height: 300px;
  border-style: dotted;
  margin-top: 80px;
  position: relative;
}

/* line 74, /Users/macpro/Desktop/phase_3/new_blog/rails_blog_kevin/app/assets/stylesheets/application.css.scss */
.nav_bar {
  float: right;
}

/* line 77, /Users/macpro/Desktop/phase_3/new_blog/rails_blog_kevin/app/assets/stylesheets/application.css.scss */
.home_links {
  float: left;
  margin: 5px;
  /*border-style: solid;*/
}
