/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.no_dot_list {
  list-style-type:none;
}

.one_blog {
  background-color: rgba(16, 198, 149, 0.57);
  border-style: solid;
  border-bottom-color: rgba(23, 30, 194, 0.8);
  width: 33%;
}

.time_submitted {
float: right;
}

.blog_body  {
  margin-left: 0;
  width: 75%;
  background-color: rgba(106, 204, 195, 0.84)
}
.nav_bar {
  float: right;
}
.home_links {
  
}
