<!DOCTYPE html>
<html>
  <head>
    <title>MyBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul class='no_dot_list nav_bar'>
        <li class = 'home_links'><a href="/">Blogs</a></li>
        <li class = 'home_links'><a href="/blogs/new">New blog</a></li>
        <!-- <li class = 'home_links'><a href="#">log-in/log-out</a></li> -->

      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
