<!DOCTYPE html>
<html>
  <head>
    <title>MyBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <a href="#">Blogs</a>
      <ul class='no_dot_list'>
        <li><a href="#">user</a></li>
        <li><a href="/blogs/new">New blog</a></li>
        <li><a href="#">log-in/log-out</a></li>

      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
